appdirs==1.4.3
attrs==19.1.0
autopep8==1.4.4
cached-property==1.5.1
certifi==2019.6.16
chardet==3.0.4
cx-Oracle==7.1.3
defusedxml==0.6.0
Django==2.2.2
django-cors-headers==3.0.2
django-jsonfield==1.2.0
djangorestframework==3.9.4
entrypoints==0.3
flake8==3.7.7
idna==2.8
isodate==0.6.0
lxml==4.3.4
mccabe==0.6.1
oracle-json-field==0.0.7
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
pytz==2019.1
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
zeep==3.4.0
